@{
    ViewBag.Title = "Inicio";
}

<div class="page-header">
    <h1>Sistema de Asignaci&oacute;n de Carga Acad&eacute;mica</h1>

    <div class="row">
        <div class="col-lg-4">
            <form class="form-signin" role="form">
                <h2 class="form-signin-heading">Iniciar Sesi&oacute;n</h2>
                <input type="email" class="form-control" placeholder="Usuario" required autofocus><br />
                <input type="password" class="form-control" placeholder="Contraseña" required>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me">
                    Recordarme
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesi&oacute;n</button>
            </form>
        </div>
    </div>
</div>
