@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/Privado.cshtml";
}



@section Scripts {


    <script type="text/javascript">
        $(function () {
            $.getJSON("/Courses/Planes/List", function (data) {
                var items = "<option>Planes de Estudio</option>";
                $.each(data, function (i, plan) {
                    items += "<option value='" + plan.Value + "'>" + plan.Text + "</option>";
                });
                $("#planesDeEstudio").html(items);
            });
            $("#planesDeEstudio").change(function () {

                
                $.getJSON("/Courses/Cursos/List/" + $('select[name="planesDeEstudio"]').val(), function (data) {
                   
                    var items = "<option> Cursos </option>";
                    $.each(data, function (i, curso) {
                        items += "<option value='" + curso.Value + "'>" + curso.Text + "</option>";
                    });
                    $("#cursosPlan").html(items);
                });
            });
        });

    </script>
}


<div class="col-lg-4">

    <br />
    <br />
    <h2>Eliminar Cursos</h2>
    <hr />
    @using (Html.BeginForm())
    {

        <label>Planes de Estudio</label> <br />
        <select id="planesDeEstudio" name="planesDeEstudio"></select> <br />
        <br />
        <label>Cursos del Plan</label><br />
        <select id="cursosPlan" name="cursosPlan"></select><br />
        <br />
        <input type="submit" value="Eliminar" />
    }

</div>
